body {
    background-color: #ecf9f8;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;

}
.page {
    background-color: #fff;
    margin: -10px 50px 20px 50px;
}
.logo_logo {
    float: left;
    width: 380px;
    height: 184px;
}
.logo_swarovsky{
    width: 184px;
    height: 184px;
}
.logo {
    max-width: 1200px;
    margin: auto;
    padding: 15px;
    white-space: nowrap;
    color: #606060
}
.logo_time{
    width: 530px;
    float: left;
    text-align: center;
}
nav{
    clear: both;
    margin: 15px;
}
nav ul li {
    display: inline-block;
    width: 140px;
    height: 45px;
    text-align: center;
    vertical-align: middle;
    font-size: 1.3em;
    cursor: pointer;
    padding: 5px;
    background-color: #ecf9f8;
    text-decoration: none;
}
nav ul li:hover {
    background-color: #81d8cf;
}
.hovered {
    border: 1px solid #81d8cf
}
.hovered ul li {
    font-size: 1.1em;
    background-color: #fff;
    width: 480px;
    text-align: left;
}
.hovered ul li img{
    padding: 5px 45px;
    position: relative;
    top: 10px;
}
article{
    padding: 15px;
}
article h2,
.in{
    text-align: center;
}

.left{
    float: left;
    margin-right: 20px;
}
footer{
    text-align: center;
    background-color: #ecf9f8;
    padding-top: 10px;
}
.cert,
.share,
.prod,
.guarantees,
.bow,
.clock,
.glass,
.gloves,
.jenavi,
.jevely,
.box,
.purse,
.toys,
.video{
    padding: 10px 30px;
    text-align: justify;
}
.cert li{
    padding: 10px 10px;
    margin-left: 10px;
    list-style-position: inside;
}
.cert ul li{
    padding: 5px 10px;
    list-style-type: none;
}
.share img{
    text-align: center;
}
.clear{
    clear: both;
}
@media handheld ,
screen and (max-width: 700px )
{
    img {
        max-width: 600px;
    }
}